*,
*::before,
*::after{
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html{
    font-size: 75%;
}

body {
   background-color: rgb(150, 224, 173); 
   margin: 0;
   font-size: 1.8rem;
}

img{
    width: 100%;
    height: auto;
}
